<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict the Price of House in Boston</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <select id="language-select" onchange="changeLanguage()">
            <option value="en">English</option>
            <option value="es">Español</option>
        </select>

        <h1 id="title">Predict the Price of House in Boston</h1>
        <div><img class="imagen" src="{{ url_for('static', filename='casa.jpg') }}"></div>

        <div class="form-container">
            <h3 id="subtitle">Enter the data so the ML model can predict the house price :)</h3>
            <form id="prediction-form">
                <label for="lotFrontage" id="lotFrontageLabel">Lot Frontage (ft):</label>
                <input type="number" id="lotFrontage" name="LotFrontage">

                <label for="lotArea" id="lotAreaLabel">Lot Area (sq ft):</label>
                <input type="number" id="lotArea" name="LotArea">

                <label for="neighborhood" id="neighborhoodLabel">Neighborhood:</label>
                <select id="neighborhood" name="Neighborhood">
                    <option value=0>MeadowV</option>
                    <option value=1>IDOTRR</option>
                    <option value=2>BrDale</option>
                    <option value=3>BrkSide</option>
                    <option value=4>Edwards</option>
                    <option value=5>OldTown</option>
                    <option value=6>Sawyer</option>
                    <option value=7>SWISU</option>
                    <option value=8>NAmes</option>
                    <option value=9>Mitchel</option>
                    <option value=10>SawyerW</option>
                    <option value=11>NWAmes</option>
                    <option value=12>Rare_var</option>
                    <option value=13>Gilbert</option>
                    <option value=14>Blmngtn</option>
                    <option value=15>CollgCr</option>
                    <option value=16>Crawfor</option>
                    <option value=17>ClearCr</option>
                    <option value=18>Somerst</option>
                    <option value=19>Timber</option>
                    <option value=20>StoneBr</option>
                    <option value=21>NridgHt</option>
                    <option value=22>NoRidge</option>
                </select>

                <label for="overallQual" id="overallQualLabel">Overall Quality:</label>
                <input type="number" id="overallQual" name="OverallQual">

                <label for="yearBuilt" id="yearBuiltLabel">Year Built:</label>
                <input type="number" id="yearBuilt" name="YearBuilt">

                <label for="yearRemodAdd" id="yearRemodAddLabel">Year Remodeled:</label>
                <input type="number" id="yearRemodAdd" name="YearRemodAdd">

                <label for="masVnrArea" id="masVnrAreaLabel">Masonry Veneer Area (sq ft):</label>
                <input type="number" id="masVnrArea" name="MasVnrArea">

                <label for="bsmtFinSF1" id="bsmtFinSF1Label">Finished Basement Area (sq ft):</label>
                <input type="number" id="bsmtFinSF1" name="BsmtFinSF1">

                <label for="totalBsmtSF" id="totalBsmtSFLabel">Total Basement Area (sq ft):</label>
                <input type="number" id="totalBsmtSF" name="TotalBsmtSF">

                <label for="firstFlrSF" id="firstFlrSFLabel">First Floor Area (sq ft):</label>
                <input type="number" id="firstFlrSF" name="1stFlrSF">

                <label for="2ndFlrSF" id="2ndFlrSFLabel">Second Floor Area (sq ft):</label>
                <input type="number" id="2ndFlrSF" name="2ndFlrSF">

                <label for="GrLivArea" id="GrLivAreaLabel">Above Ground Living Area (sq ft):</label>
                <input type="number" id="GrLivArea" name="GrLivArea">

                <label for="fullBath" id="fullBathLabel">Full bathrooms above grade:</label>
                <input type="number" id="fullBath" name="FullBath">

                
              
                <label for="KitchenQual" id="KitchenQual">Kitchen Quality:</label>
                <select id="neighborhood" name="Neighborhood">
                    <option value=0>0</option>
                    <option value=1>1</option>
                  
                </select>
                <label for="fireplaceQu" id="fireplaceQu">Fireplace Quality:</label>

                <select id="fireplaceQu" name="fireplaceQu">
                    <option value=0>0</option>
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                    
                    
                    
                </select>


                <!-- <label for="fireplaceQu" id="fireplaceQuLabel">Fireplace Quality:</label>
                <input type="number" id="fireplaceQu" name="FireplaceQu"> -->

                <label for="garageArea" id="garageAreaLabel">Garage Area (sq ft):</label>
                <input type="number" id="garageArea" name="GarageArea">

                <label for="openPorchSF" id="openPorchSFLabel">Open Porch Area (sq ft):</label>
                <input type="number" id="openPorchSF" name="OpenPorchSF">

                <label for="yrSold" id="yrSoldLabel">Year Sold:</label>
                <input type="number" id="yrSold" name="YrSold">

                <button type="button" onclick="submitForm()">Predict</button>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
        const translations = {
            en: {
                title: "Predict the Price of House in Boston",
                subtitle: "Enter the data so the ML model can predict the house price :)",
                lotFrontageLabel: "Lot Frontage (ft):",
                lotAreaLabel: "Lot Area (sq ft):",
                neighborhoodLabel: "Neighborhood:",
                overallQualLabel: "Overall Quality:",
                yearBuiltLabel: "Year Built:",
                yearRemodAddLabel: "Year Remodeled:",
                masVnrAreaLabel: "Masonry Veneer Area (sq ft):",
                bsmtFinSF1Label: "Finished Basement Area (sq ft):",
                totalBsmtSFLabel: "Total Basement Area (sq ft):",
                firstFlrSFLabel: "First Floor Area (sq ft):",
                secondFlrSFLabel: "Second Floor Area (sq ft):",
                GrLivAreaLabel: "Above Ground Living Area (sq ft):",
                fullBathLabel: "Full bathrooms above grade:",
                kitchenQualLabel: "Kitchen Quality:",
                fireplaceQuLabel: "Fireplace Quality:",
                garageAreaLabel: "Garage Area (sq ft):",
                openPorchSFLabel: "Open Porch Area (sq ft):",
                yrSoldLabel: "Year Sold:"
            },
            es: {
                title: "Predecir el Precio de una Casa en Boston",
                subtitle: "Ingrese los datos para que el modelo de ML pueda predecir el precio de la casa :)",
                lotFrontageLabel: "Frente del Lote (pies):",
                lotAreaLabel: "Área del Lote (pies cuadrados):",
                neighborhoodLabel: "Vecindario:",
                overallQualLabel: "Calidad General:",
                yearBuiltLabel: "Año de Construcción:",
                yearRemodAddLabel: "Año de Remodelación:",
                masVnrAreaLabel: "Área de Revestimiento de Mampostería (pies cuadrados):",
                bsmtFinSF1Label: "Área de Sótano Terminado (pies cuadrados):",
                totalBsmtSFLabel: "Área Total del Sótano (pies cuadrados):",
                firstFlrSFLabel: "Área del Primer Piso (pies cuadrados):",
                secondFlrSFLabel: "Área del Segundo Piso (pies cuadrados):",
                GrLivAreaLabel: "Área Habitable Sobre el Suelo (pies cuadrados):",
                fullBathLabel: "Baños completos sobre el suelo:",
                kitchenQualLabel: "Calidad de la Cocina:",
                fireplaceQuLabel: "Calidad de la Chimenea:",
                garageAreaLabel: "Área del Garaje (pies cuadrados):",
                openPorchSFLabel: "Área del Porche Abierto (pies cuadrados):",
                yrSoldLabel: "Año de Venta:"
            }
        };

        function changeLanguage() {
            const language = document.getElementById("language-select").value;
            const elements = document.querySelectorAll("[id]");
            elements.forEach(element => {
                if (translations[language][element.id]) {
                    element.innerText = translations[language][element.id];
                }
            });
        }

 

       

            // Add code here to submit the form data via an AJAX request or other method
      
    </script>
</body>
</html>
