<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict the Price of House in Boston</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Predict the Price of House in Boston</h1>
        <div><img  class="imagen" src="{{ url_for('static', filename='casa.jpg') }}"></div>
  
       
        <div class="form-container">
            <h3>Enter the data so de ML model can predict the house price  :)</h3>
            <form id="prediction-form">
                <label for="lotFrontage">Lot Frontage (ft):</label>
                <input type="number" id="lotFrontage" name="LotFrontage">

                <label for="lotArea">Lot Area (sq ft):</label>
                <input type="number" id="lotArea" name="LotArea">

                <label for="neighborhood">Neighborhood:</label>
                <input type="text" id="neighborhood" name="Neighborhood">

                <label for="overallQual">Overall Quality:</label>
                <input type="number" id="overallQual" name="OverallQual">

                <label for="yearBuilt">Year Built:</label>
                <input type="number" id="yearBuilt" name="YearBuilt">

                <label for="yearRemodAdd">Year Remodeled:</label>
                <input type="number" id="yearRemodAdd" name="YearRemodAdd">

                <label for="masVnrArea">Masonry Veneer Area (sq ft):</label>
                <input type="number" id="masVnrArea" name="MasVnrArea">

                <label for="bsmtFinSF1">Finished Basement Area (sq ft):</label>
                <input type="number" id="bsmtFinSF1" name="BsmtFinSF1">

                <label for="totalBsmtSF">Total Basement Area (sq ft):</label>
                <input type="number" id="totalBsmtSF" name="TotalBsmtSF">

                <label for="firstFlrSF">First Floor Area (sq ft):</label>
                <input type="number" id="firstFlrSF" name="1stFlrSF">

                <label for="2ndFlrSF">Second Floor Area (sq ft):</label>
                <input type="number" id="2ndFlrSF" name="1stFlrSF">

                <label for="FireplaceQu">Above Ground Living Area</label>
                <input type="number" id="GrLivArea" name="1stFlrSF">

                <label for="KitchenQual">Full bathrooms above grade</label>
                <input type="number" id="KitchenQual" name="1stFlrSF">

                <label for="KitchenQual">Kitchen Quality</label>
                <input type="number" id="KitchenQual" name="1stFlrSF">

                
                <label for="FireplaceQu">Fireplace quality</label>
                <input type="number" id="FireplaceQu" name="1stFlrSF">

                <label for="garageArea">Garage Area (sq ft):</label>
                <input type="number" id="garageArea" name="GarageArea">

                <label for="openPorchSF">Open Porch Area (sq ft):</label>
                <input type="number" id="openPorchSF" name="OpenPorchSF">

                <label for="yrSold">Year Sold:</label>
                <input type="number" id="yrSold" name="YrSold">

                <button type="button" onclick="submitForm()">Predict</button>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>